/* [SLIDER] */
#slider,  #slider .slide{
  text-align: center;
  font-size: xx-large;
    width: 40%;
    height: 25%;
    margin: auto;
}
#slider {
  /*alignment: center;*/
    text-align: center;
  overflow: hidden;
  margin: 0 auto;
  font-size: 1.2em;
    width: 1500px;
    height: 250px;
  background: url("../img/thetachi-emblem-no-background.jpg") center no-repeat;
  background-size: contain;
}
#slider .container {
    font-family: News Gothic, Garamond, cursive;
    text-align: center;
  position: relative;
  child-align: middle;
  right: 0;
  animation: slide-animation 100s 1s infinite both;
}
#slider .slide {
  position: center;
  box-sizing: border-box;
}

#slider .slide,p{
    padding-top: 5%;
    padding-bottom: 5%;
    alignment: center;
}

mark{
  background-color: indianred;
  color: white;
  outline-color: black;
}

/* [ANIMATION] */
@keyframes slide-animation {

    /*NOTES: 21 Lines,
    - 2 seconds of transition time,
    - 2.6 seconds of viewing time
    - bottom value should increase by the total padding of each slide element
    with each advancement in order to avoid text skewing across background
    */

    from{opacity: 0}
    /*[Fade-in]*/
        /*I believe in Theta Chi*/
    2%{bottom: 0; opacity: 1}
    4.6%{bottom: 105%}
        /*It's traditions and its ideals*/
    6.6%{bottom: 105%}
    9.2%{bottom: 210%}
        /*Born of Sturdy Manhood*/
    11.2%{bottom: 210%}
    13.8%{bottom: 315%}
        /*Nurtured by Resolute men*/
    15.8%{bottom: 315%}
    18.4%{bottom: 420%}
        /*Ennobled by High & Sacred Purpose*/
    20.4%{bottom: 420%}
    23%{bottom: 525%}
        /*It has taken its place among the
        educational institutions of America*/
    25%{bottom: 525%}
    27.6%{bottom: 645%}
        /*As a promoter of knowledge*/
    29.6%{bottom: 645%}
    32.2%{bottom: 750%}
        /*An Advancer of Culture*/
    34.2%{bottom: 750%}
    36.8%{bottom: 855%}
        /*And a builder of Character*/
    38.8%{bottom: 855%}
    41.4%{bottom: 960%}
        /*It inspires true friendship*/
    43.4%{bottom: 960%}
    46%{bottom: 1065%}
        /*Teaches TRUTH, TEMPERANCE, & TOLERANCE*/
    48%{bottom: 1065%}
    51.4%{bottom: 1190%}
        /*Extols virtue*/
    53.4%{bottom: 1190%}
    56%{bottom: 1295%}
        /*Exacts harmony*/
    58%{bottom: 1295%}
    60.6%{bottom: 1400%}
        /*and Extends a Helping Hand to all who seek it*/
    62.6%{bottom: 1400%}
    65.2%{bottom: 1505%}
        /*I believe in the Primacy of Alma Mater*/
    67.2%{bottom: 1505%}
    69.8%{bottom: 1610%}
        /*The Usefulness of My Fraternity*/
    71.8%{bottom: 1610%}
    73.4%{bottom: 1715%}
        /*It's influence and Its accomplishments*/
    75.4%{bottom: 1715%}
    78%{bottom: 1820%}
        /*and I shall do all in my power to perpetuate its ideals*/
    80%{bottom: 1820%}
    82.6%{bottom: 1940%}
        /*Thereby serving My God*/
    84.6%{bottom: 1940%}
    87.2%{bottom: 2040%}
        /*My Country*/
    89.2%{bottom: 2040%}
    91.8%{bottom: 2150%}
        /*and my fellow man.*/
    93.8%{bottom: 2150%}
    96.4%{bottom: 2270%; opacity: 1}
        /*
            *     *    *
        */
    /*[Fade Out...]*/
    98.4%{bottom: 2270%; opacity: 0}
    to{bottom: 2390%; opacity: 0}

}



/* [DOES NOT MATTER] */
html, body {
  font-family: arial;
  background: #ffe9d8;
}
h1 {
  text-align: center;
}
