/* [SLIDER] */
#slider,  #slider .slide{
  text-align: center;
  font-size: 250%;
  text-anchor: middle;
  width: 1200px;
  height: 250px;
}
#slider {
  /*alignment: center;*/
  overflow: hidden;
  margin: 0 auto;
  font-size: 1.2em;
  /*background: #;*/
}
#slider .container {
  position: relative;
  bottom: 0;
  right: 0;
  animation: slide-animation 130s 0s  /*cubic-bezier(0.9,.85,.95,1.0)*/ infinite forwards;
}
#slider .slide {
  position: relative;
  box-sizing: border-box;
  padding: 10px 20px;
}

/* [ANIMATION] */
@keyframes slide-animation {
  0%{opacity: 1;}
  2%{opacity: 0}
  10%{bottom: 0}
  15%{opacity: 1}
  95%{bottom: 2000%; opacity: 1}
  100%{opacity: 0}

}

/* [DOES NOT MATTER] */
html, body {
  font-family: arial;
  background: #ffe9d8;
}
h1 {
  text-align: center;
}
