/* [SLIDER] */
#slider,  #slider .slide{
  position: center;
  text-align: center;
  font-size: 250%;
  text-anchor: middle;
  width: 1500px;
  height: 250px;

}

#mark, mark{
  alignment: left;
  text-align: center;
  background-color: indianred;
  color: white;
}

#slider {
  alignment: center;
  overflow: hidden;
  margin: 0 auto;
  font-size: 1.2em;
  background: antiquewhite url("../img/thetachi-emblem.jpg") no-repeat center;
  background-size: 250px;
  /*background: #;*/
}

#slider .slide {
  counter-increment: slide-count;
  position: relative;
  box-sizing: border-box;
  padding: 10px 20px;
}

#slider .container {
  position: relative;
  bottom: 0;
  right: 0;

  animation: slide-animation 70s linear 1.5s infinite forwards;
}



/* [ANIMATION] */
@keyframes slide-animation {
  4%{bottom: 0; opacity: 0}
  6%{opacity: 0}
  8%{opacity: 1}
  93%{opacity: 1}
  98%{opacity: 0}
  100%{bottom: 2200%; }
  /*98.5%{opacity: 0}
  100%{bottom: 0}*/
}

/* [DOES NOT MATTER] */
html, body {
  font-family: arial;
  background: #ffe9d8;
  counter-reset: slide-count 0;
}
h1 {
  text-align: center;
}
