---
title: Homepage
layout: default
---
<head xmlns="http://www.w3.org/1999/html">
    <title>
      Theta Chi Epsilon Psi: New Jersey Institute of Technology
    </title>
    <link href="css/2-vertical.css" rel="stylesheet">
    <meta charset="UTF-8">
</head>
  <body>
    <h1>
      Theta Chi Epsilon Psi: New Jersey Institute of Technology
    </h1>
    <div id="slider">
      <div class="container">
        <div class="slide">
          <p id="stanza">

            {% assign src = site.the-creed %}
            {% assign blocks = src.blocks %}
            {% for block in blocks %}
              {% for line in block %}
                {% if line %}
                  <mark class="slide-text">{{line}}</mark>
                {% else %}
                  well that didn't work...
                {% endif %}

              {% endfor %}
            {% endfor %}

          </p>
        </div>
      </div>
    </div>


<!-- Dots/bullets/indicators -->
<div class="dot-container">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 feature">
      <img src="img/coatofarms.png" class="img-responsive" alt="Theta Chi Coat of Arms" />
      <hr>
      <h2 class="editable">Our History</h2>
      <p class="editable">Theta Chi Fraternity was founded by two young idealistic cadets, Frederick Norton Freeman and Arthur Chase, at Norwich University in Vermont on the night of April 10, 1856.</p>
      <a class="editable" href="{{ site.url }}/international-history" class="btn btn-secondary">About Our Fraternity</a>
    </div>
    <div class="col-sm-4 feature">
      <img src="img/njit.png" class="img-responsive" alt="New Jersey Institute of Technology Logo" />
      <hr>
      <h2 class="editable">Our Chapter</h2>
      <p class="editable">The Epsilon Psi Chapter at New Jersey Institute of Technology was founded in 1963. We pride ourselves on our brotherhood and our ability to better one another. Get to know us!</p>
      <a class="editable" href="{{ site.url }}/meet-the-brothers" class="btn btn-secondary">Meet the Brothers</a>
    </div>
    <div class="col-sm-4 feature">
      <img src="img/shield.png" class="img-responsive" alt="Theta Chi Shield" />
      <hr>
      <h2 class="editable">Our Mission</h2>
      <p class="editable">Theta Chi Fraternity exists to serve a need for young men of character, principles and ideals to associate with each other in order to grow, mature and develop through mutual assistance.</p>
      <a class="editable" href="https://docs.google.com/forms/d/e/1FAIpQLSdnPWgcnoICoqPd7s1SemZMymyrA8gtWYxZTm1ZW5h0BrAE4g/viewform?fbclid=IwAR14OKyJ4i2_CuVrEFoq9JwZzTl1ozcfZZTEy9S2ueedYph9x5oewCkdCTg" class="btn btn-secondary">Rush/Join Our Chapter</a>
    </div>
  </div>
</div>
  </body>
